/* LoginForm.css */

.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #a9c6fd, #c692ea);
    color: #4c0250b3;
    
  }
  
  .login-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form-container input[type="email"],
  .login-form-container input[type="password"],
  .login-form-container button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form-container button {
    background-color: rgba(147, 17, 173, 0.9);
    color: #fff;
    cursor: pointer;
  }
  
  .login-form-container button:hover {
    background-color: #4c0250b3;
  }
  